# Import data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

In [2]:
df = pd.read_csv('/home/song/Public/Song/Work/Thesis/data/water.csv',index_col=['date_time'],parse_dates=['date_time'])

,BKK001,BKK002,BKK003,BKK004,BKK005,BKK006,BKK007,BKK008,BKK009,BKK012,...,YOM003,YOM004,YOM005,YOM006,YOM007,YOM008,YOM009,YOM010,YOM011,YOM012
date_time,,,,,,,,,,,,,,,,,,,,,
2012-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-01 00:10:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-01 00:20:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-01 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-01 00:40:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Select stations

filepath = ("../hii-telemetering-batch-data-master/")
water_st = pd.read_csv(filepath+"station_metadata-water-level.csv")
water_st = water_st.loc[(water_st['basin']=="แม่น้ำปิง")|(water_st['basin']=="แม่น้ำเจ้าพระยา")|(water_st['basin']=="แม่น้ำน่าน")]

def intersection(lst1, lst2): 
    return list(set(lst1) & set(lst2)) 
col = [i for i in water_st['code']]
#เช็คว่า ชื่อสถานีมีอยู่ในDBจริงก่อนใช้
col = intersection(col,df.columns)

In [6]:
df = df[col]
df = df.resample('d').mean()
df.head()

,BKK002,CPY001,LBI002,NAN011,LBI001,VLGE12,NAN008,PIN006,BKK007,NAN003,...,CPY014,HDA005,NAN012,CPY008,TBW014,PIN002,CHM006,TB0006,PIN001,CHM001
date_time,,,,,,,,,,,,,,,,,,,,,
2012-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df = df["2013-01-01":"2014-09-01"].interpolate(method='pad', limit=10) # selected period, interporlation missing value
df.dropna(axis=1,inplace=True) # drop na stations 
print(df.shape)
df.head()

(609, 70)

,LBI002,NAN011,LBI001,VLGE12,NAN008,PIN006,BKK007,NAN003,CPY006,BKK005,...,CPY014,HDA005,NAN012,CPY008,TBW014,PIN002,CHM006,TB0006,PIN001,CHM001
date_time,,,,,,,,,,,,,,,,,,,,,
2013-01-01,1.517972,1.517972,0.924167,33.686783,19.981399,19.981399,0.773264,189.849394,3.484545,0.362378,...,0.829301,0.829301,0.829301,0.676042,0.676042,100.316736,100.316736,100.316736,119.359161,314.991888
2013-01-02,1.497083,1.497083,0.797500,33.538531,20.007532,20.007532,0.666181,189.844268,3.482708,0.375944,...,0.692292,0.692292,0.692292,0.569097,0.569097,100.191978,100.191978,100.191978,119.383333,315.007361
2013-01-03,1.544583,1.544583,0.771528,33.499510,20.144236,20.144236,0.612222,189.841888,3.471111,0.348951,...,0.636667,0.636667,0.636667,0.549653,0.549653,100.487813,100.487813,100.487813,119.499650,315.000000
2013-01-04,1.549722,1.549722,0.681736,33.500839,20.090625,20.090625,0.535625,189.839441,3.445625,0.316014,...,0.565833,0.565833,0.565833,0.455833,0.455833,100.500903,100.500903,100.500903,119.406434,314.968611
2013-01-05,1.349790,1.349790,0.689375,33.471888,20.078681,20.078681,0.527361,189.842727,3.443611,0.314196,...,0.573889,0.573889,0.573889,0.441181,0.441181,100.494444,100.494444,100.494444,119.403287,314.933819

# LSTM

In [15]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout, LSTM

from sklearn.preprocessing import MinMaxScaler

In [17]:

print("********RAIN_BEFORE********")
print("Min: ", np.min(df))
print("Max: ", np.max(df))
print("********RAIN_AFTER********")
scaler = MinMaxScaler()
scaler_df = scaler.fit_transform(df)
print("Min: ", np.min(scaler_df))
print("Max: ", np.max(scaler_df))

********RAIN_BEFORE********
Min:  LBI002      0.462246
NAN011      1.217917
LBI001      0.010000
VLGE12     32.592098
NAN008     18.880000
PIN006     18.880000
BKK007      0.036782
NAN003      0.227708
CPY006      3.079097
BKK005      0.002517
NAN009      0.186597
CPY016      0.242378
BKK003      0.257407
TB0001      0.257407
BKK018      0.371111
CPY012      0.159559
CPY013     -0.422857
CPY009     -0.013059
NAN004      0.068252
BKK021      0.756181
THA001     13.625000
PIN003     13.835903
DIV005     13.835903
NAN010     82.449021
CHM005     82.505490
CPY002     12.752500
PIN004     39.427986
NAN014     39.815347
GLF001      0.517281
BKK019      0.618819
             ...
BKK001     -0.379306
TB0004     -0.379306
BKK004     -0.379306
CPY010      0.070000
NAN007      0.365175
KWN002      0.514722
CPY011      0.180875
BKK020     -0.331189
THA002     -0.305556
NAN006      0.099583
HDA004      0.099583
NAN005    135.050417
CPY017     -0.009923
BKK013      0.994444
CHM002      1.545278
NAN013     40.092708
CPY005      4.600625
CPY003      4.735176
NAN001      5.087500
DIV003     13.686875
CPY014     -0.077500
HDA005     -0.077500
NAN012      0.364306
CPY008     -0.199048
TBW014     -0.199048
PIN002     -0.199048
CHM006    100.054167
TB0006    100.054167
PIN001    118.618000
CHM001    314.880278
Length: 70, dtype: float64
Max:  LBI002     18.740000
NAN011     54.015315
LBI001     52.857746
VLGE12     37.706197
NAN008     37.026087
PIN006     73.537778
BKK007     72.320244
NAN003    195.837552
CPY006    191.921608
BKK005      0.598042
NAN009    185.678099
CPY016      2.975524
BKK003      1.796597
TB0001    232.225234
BKK018      2.219790
CPY012      2.219790
CPY013      2.567292
CPY009      6.004097
NAN004     49.663750
BKK021     49.663750
THA001     16.685903
PIN003     82.977622
DIV005     82.977622
NAN010    157.479930
CHM005    332.367431
CPY002    331.571958
PIN004     42.822292
NAN014     51.442308
GLF001     41.240486
BKK019     41.236875
             ...
BKK001      1.174236
TB0004      4.489550
BKK004      4.489550
CPY010      6.194792
NAN007     31.899375
KWN002     44.968701
CPY011     42.909833
BKK020      9.565694
THA002     13.146667
NAN006     34.453472
HDA004     34.453472
NAN005    137.523264
CPY017    135.368889
BKK013    135.323287
CHM002    296.010417
NAN013    292.657762
CPY005     48.852361
CPY003     16.245069
NAN001    223.367917
DIV003    223.367917
CPY014     48.133732
HDA005     48.133732
NAN012     39.940000
CPY008     39.940000
TBW014     39.940000
PIN002    100.729236
CHM006    273.309510
TB0006    273.309510
PIN001    272.207182
CHM001    317.592222
Length: 70, dtype: float64
********RAIN_AFTER********
Min:  0.0
Max:  1.0000000000000004

In [24]:
timelag = 1
y = df['CPY014'].shift(-timelag)

In [26]:
X = df.values[:-timelag]
print(type(X))
print("Shape:",X.shape)
print("*"*20)

y = y.values[:-timelag]
print(type(y))
print("Shape:", y.shape)

<class 'numpy.ndarray'>
Shape: (608, 70)
********************
<class 'numpy.ndarray'>
Shape: (608,)

In [34]:
num_data = len(X)
train_split = 0.8 #8:2 train:test

num_train = int(train_split*num_data)
num_test = num_data-num_train

print("Total data From..",num_data)
print("Train:",num_train,", Test:",num_test)

######################################
x_train = X[0:num_train]
x_test = X[num_train:]

y_train = y[0:num_train]
y_test = y[num_train:]

num_x_feature = X.shape[1]
#num_y_feature = y.shape[1]
num_y_feature = 1
######################################
print('='*30)
print("x_train shape",x_train.shape)
print("y_train shape",y_train.shape)
print("x feature....",num_x_feature)
print("y feature....",num_y_feature)

Total data From.. 608
Train: 486 , Test: 122
==============================
x_train shape (486, 70)
y_train shape (486,)
x feature.... 70
y feature.... 1

In [38]:
def batch_gen(batch_size, sequence_length):
    while True:
        x_shape = (batch_size, sequence_length, num_x_feature)
        x_batch = np.zeros(shape = x_shape, dtype=np.float16)
        
        y_shape = (batch_size, sequence_length, num_y_feature)
        y_batch = np.zeros(shape = y_shape, dtype=np.float16)
        
        #fill batch with random sequences of data
        for i in range(batch_size):
            
            #Get rand start index,
            idx = np.random.randint(num_train - sequence_length)
            
            #copy sequence of data start at this index.
            x_batch[i] = x_train[idx:idx+sequence_length]
            y_batch[i] = y_train[idx:idx+sequence_length]
            
        yield (x_batch, y_batch)

In [39]:
batch_size = 10
sequence_length = timelag

generator = batch_gen(batch_size=batch_size,
                            sequence_length=sequence_length)

x_batch, y_batch = next(generator)

print(x_batch.shape)
print(y_batch.shape)

(10, 1, 70)
(10, 1, 1)

In [44]:
validation_data = (np.expand_dims(x_test, axis=0),np.expand_dims(y_test, axis=0))

print("x_test shape:",validation_data[0].shape)
print("y_test shape:",validation_data[1].shape)

x_test shape: (1, 122, 70)
y_test shape: (1, 122)

In [61]:
validation_data

(array([[[  1.26753623,   1.26753623,   0.56014493, ..., 269.55833333,
          269.55833333, 315.01028986],
         [  1.26756944,   1.26756944,   0.56402778, ..., 269.53736111,
          269.53736111, 315.50215278],
         [  1.265625  ,   1.265625  ,   0.49930556, ..., 269.87527778,
          269.87527778, 315.62666667],
         ...,
         [  4.39852113,  52.43729323,   0.99890625, ..., 271.08676056,
          271.08676056, 315.79283465],
         [  4.40472   ,  52.62157895,   1.08714286, ..., 271.43184874,
          271.43184874, 315.89932773],
         [  4.39236111,  52.85774648,  52.85774648, ..., 271.858125  ,
          271.858125  , 316.30548148]]]),
 array([[ 4.26597222e-01,  3.70694444e-01,  4.33541667e-01,
          6.07647059e-01,  3.15277778e-01,  2.86850394e-01,
          2.68819444e-01,  3.72777778e-01,  3.80625000e-01,
          2.98958333e-01,  3.27986111e-01,  1.98402778e-01,
          2.31748252e-01,  2.11805556e-01,  2.32916667e-01,
          2.42430556e-01,  1.98294574e-01,  2.22826087e-02,
          2.51166667e-01,  2.09401709e-01,  4.09428571e-01,
          1.32343750e-01,  5.90000000e-01,  2.75555556e-01,
          3.06527778e-01,  2.81875000e-01,  2.20833333e-01,
          2.02430556e-01,  2.63194444e-01,  2.59652778e-01,
          2.14513889e-01,  1.44444444e-01,  2.16111111e-01,
          9.92142857e-02,  3.15000000e-01,  1.51094891e-01,
          3.16388889e-01,  3.21597222e-01,  2.19027778e-01,
          2.57708333e-01,  2.31401869e-01,  2.01304348e-01,
          4.75625000e-01,  4.31180556e-01,  7.56515152e-01,
          3.37175573e-01,  4.34236111e-01,  2.89166667e-01,
          2.00833333e-01,  7.18750000e-02,  1.21023622e-01,
          9.47222222e-02,  2.53819444e-01,  4.31574074e-01,
          2.83958333e-01,  1.87569444e-01,  1.17083333e-01,
          4.40952381e-02, -6.57608696e-02,  2.29352518e-01,
          2.41584158e-01,  8.47794118e-02,  1.25555556e-01,
          3.45000000e-01, -7.75000000e-02,  1.58383838e-01,
          1.72272727e-01,  1.78521739e-01,  2.75223881e-01,
          3.71803279e-01,  6.47931034e-01,  2.30887097e-01,
          2.97651515e-01,  2.45851064e-01,  3.16180556e-01,
          1.99790210e-01,  2.12777778e-01,  1.81468531e-01,
          4.89230769e-01,  4.55333333e-01,  2.37272727e-01,
          1.79324324e-01,  2.13555556e-01,  1.47606838e-01,
          3.89056604e-01,  1.83055556e-01,  3.56000000e-01,
          2.07152778e-01,  1.93269231e-01,  4.60000000e-01,
          1.50731707e-01,  1.71404959e-01,  7.35000000e-01,
          4.91176471e-01,  1.44423077e-01,  3.70140845e-01,
          4.31805556e-01,  4.32777778e-01,  4.04375000e-01,
          4.30493827e-01,  4.81337324e+01,  3.90256410e-01,
          4.78353237e+01,  4.83943662e-01,  4.72797203e-01,
          4.49930556e-01,  4.89930556e-01,  5.57222222e-01,
          5.36153846e-01,  7.60185185e-01,  5.44027778e-01,
          4.53787879e-01,  1.73375000e+00,  5.67272727e-01,
          5.00000000e-01,  5.95268817e-01,  6.60821918e-01,
          6.33541667e-01,  6.30140845e-01,  7.15135135e-01,
          5.90069444e-01,  6.33363636e-01]]))

In [53]:
model = Sequential()
model.add(LSTM(128, return_sequences=True, input_shape=(None,num_x_feature),
              activation='relu'))
model.add(LSTM(128,return_sequences=True))
model.add(Dense(num_y_feature,activation='relu'))
opt = tf.keras.optimizers.Adam(lr=1e-3,decay=1e-5)

model.compile(optimizer=opt, loss='mse', metrics=['accuracy'])
model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_4 (LSTM)                (None, None, 128)         101888
_________________________________________________________________
lstm_5 (LSTM)                (None, None, 128)         131584
_________________________________________________________________
dense_2 (Dense)              (None, None, 1)           129
=================================================================
Total params: 233,601
Trainable params: 233,601
Non-trainable params: 0
_________________________________________________________________

In [58]:
history = model.fit(x=generator,
          epochs=10,
          steps_per_epoch=10,
          validation_data=validation_data)

Train for 10 steps, validate on 1 samples
Epoch 1/10
 1/10 [==>...........................] - ETA: 0s

UnknownError:  [_Derived_]  Fail to find the dnn implementation.
	 [[{{node CudnnRNN}}]]
	 [[sequential_3/lstm_5/StatefulPartitionedCall]] [Op:__inference_distributed_function_14532]

Function call stack:
distributed_function -> distributed_function -> distributed_function